@font-face {
    font-family: 'Noto Sans Condensed';
    src: url('NotoSansCondensed-Regular.woff2') format('woff2'),
        url('NotoSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('Arvo-Bold.woff2') format('woff2'),
        url('Arvo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

